
<!---Inherited from layout.html. --->

{% extends "layout.html" %}


{% block body %}

    {% from "includes/formhelpers.html" import render_field %}

    <form method='post'>
    

    <div class='col-md-8'>
    
    <b><p>The results of the entered information :</p></b>
    <br/>

    <p>Target Location Coordinate: <b>{{coordinate_target}}</b></p>
    <p>Target Location Address: <b>{{country_addresline_target}}</b></p>
    <p>Target Location Namecode: <b>{{country_namecode_target}}</b></p>

    {% if origin_and_target_between_km > origin_and_mkad_between_km or origin_and_target_between_km == origin_and_mkad_between_km %}
    <p>Distance between two locations (from origin location to target location): <b>{{origin_and_target_between_km}} KM </b></p>
    <br/>
    <b><p style='color:red'>Target location not inside Moskow Ring Road</p></b>
    
    {% else %}
    <p>Distance between two locations (from origin location to target location): <b>{{origin_and_target_between_km}} KM </b></p>
    <br/>
    <b><p style='color:red'>Target location inside Moskow Ring Road</p></b>

    {% endif %}

    </div>

    


    </form>

    
{% endblock body %}